---
import Navbar from '@components/Navbar.astro';

import FinalSection from '@components/FinalSection.astro';
import Layout from '@layouts/Layout.astro';
import ExperienceSection from '@components/ExperienceSection.astro';
---

<Layout title="Enrique Resendiz - Full Stack Developer">
  <div class="min-w-4xl max-w-screen-sm mx-auto py-16 px-8 selection:bg-gray-600 selection:text-white">
    <header>
      <Navbar />
    </header>
    <main>
      <ExperienceSection/>
      <!-- <AboutSection /> -->
      <!-- <ProjectsSection /> -->
      <!-- <SkillsSection /> -->
    </main>
    <footer>
      <FinalSection />
    </footer>
  </div>
</Layout>