---
import Navbar from '@components/Navbar.astro';
import ProfileSection from '@components/ProfileSection.astro';
import AboutSection from '@components/AboutSection.astro';
import ProjectsSection from '@components/ProjectsSection.astro';
import SkillsSection from '@components/SkillsSection.astro';
import FinalSection from '@components/FinalSection.astro';
import Layout from '@layouts/Layout.astro';
import CertificationSection from '@components/CertificationSection.astro';
import ExperienceSection from '@components/ExperienceSection.astro';
---

<Layout title="Enrique Resendiz - Full Stack Developer">
  <div class="min-w-4xl max-w-screen-sm mx-auto py-16 px-8 selection:bg-gray-600 selection:text-white">
    <header>
      <Navbar />
      <ProfileSection />
    </header>
    <main>
      <AboutSection />
      <ExperienceSection/>
      <ProjectsSection />
      <SkillsSection />
      <CertificationSection />
    </main>
    <footer>
      <FinalSection />
    </footer>
  </div>
</Layout>