<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600" />
    <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
        Soy un desarrollador <span class="text-zinc-100 font-medium">full stack</span> apasionado por la tecnología y la resolución de problemas. 
        Cuento con experiencia en el desarrollo de sistemas web, integración de APIs y administración de bases de datos.
    </p>
    <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
        Me considero una persona <span class="text-zinc-100 font-medium">autodidacta y en constante aprendizaje</span>, siempre buscando nuevas formas 
        de optimizar mi trabajo y mantenerme actualizado con las últimas tendencias del desarrollo. Me gusta ser 
        <span class="text-zinc-100 font-medium">propositivo</span>, aportando ideas y soluciones que mejoren la eficiencia de los proyectos en los que participo.
    </p>
</section>
