---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
import Cv from "@assets/icons/Cv.astro";
// import ToggleTheme from "@components/ToggleTheme.astro";
const currentPath = Astro.url.pathname;
---

<nav class="w-full flex justify-between items-center">

  {/* Mostrar "Experiencia" solo si NO estamos en /experiencia */}
  {currentPath !== "/experiencia" && 
    <a class="text-xl hover:opacity-60 transition" href="/experiencia">Experiencia</a>
  }

  {/* Mostrar "Inicio" solo si NO estamos en la página raíz */}
  {currentPath !== "/" && 
    <a class="text-xl hover:opacity-60 transition" href="/">Inicio</a>
  }
  <div class="flex gap-3 items-center">
    <ContainerHover 
    link="/files/CV.pdf" 
    download 
    downloadName="Enrique-Resendiz-CV.pdf"
    tooltipText="Descargar CV"
    ariaLabel="Descargar CV"
  >
  <Cv />  
  </ContainerHover>
    <ContainerHover link="mailto:k.ventus250@gmail.com" tooltipText="Enviar correo electrónico" ariaLabel="Enviar correo electrónico">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/underwords13" tooltipText="Enlace al perfil de GitHub" ariaLabel="Enlace al perfil de GitHub">
      <Github />
    </ContainerHover>
    <!-- <ToggleTheme /> -->
  </div>
</nav>