<div class="flex flex-col items-center justify-center mt-20 mb-16">
  <h1 class="text-4xl font-bold block">Enrique Resendiz</h1>
  <p class="text-2xl text-zinc-400"><em>Desarrolador Full Stack</em></p>
</div>