---
import IconContainer from "@components/IconContainer.astro";
import Css from "@assets/icons/css.astro";
import Javascript from "@assets/icons/javascript.astro";
import React from "@assets/icons/react.astro";
import Html from "@assets/icons/html.astro";
import Tailwind from "@assets/icons/tailwind.astro";
import AstroIcon from "@assets/icons/astro.astro";
import Node from "@assets/icons/node.astro";
import Mysql from "@assets/icons/mysql.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Git from "@assets/icons/git.astro";
import Github from "@assets/icons/github.astro";
import Vscode from "@assets/icons/vscode.astro";
import SqlServer from "@assets/icons/SqlServer.astro";
import Sqlite from "@assets/icons/Sqlite.astro";
import Oracle from "@assets/icons/Oracle.astro";
import Typescript from "@assets/typescript.astro";
import Php from "@assets/icons/Php.astro";
import CSharp from "@assets/icons/CSharp.astro";
import Python from "@assets/icons/Python.astro";
import Java from "@assets/icons/Java.astro";
import Dart from "@assets/icons/Dart.astro";
import Laravel from "@assets/icons/Laravel.astro";
import Symfony from "@assets/icons/Symfony.astro";
import DotNetCore from "@assets/icons/DotNetCore.astro";
import Nuxt from "@assets/icons/Nuxt.astro";
import Next from "@assets/icons/Next.astro";
import Go from "@assets/icons/Go.astro";
import Firebase from "@assets/icons/Firebase.astro";
import Angular from "@assets/icons/Angular.astro";
import Vue from "@assets/icons/Vue.astro";
import Livewire from "@assets/icons/Livewire.astro";
import Jquery from "@assets/icons/Jquery.astro";
import Alpine from "@assets/icons/Alpine.astro";
import Bulmacss from "@assets/icons/Bulmacss.astro";
import Bootstrap from "@assets/icons/Bootstrap.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Habilidades</h2>
  <hr class="mb-6 border-zinc-600">

  <h3 class="text-xl font-medium mb-4 siz">Lenguajes</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="HTML">
      <Html size="size-9" />
    </IconContainer>
    <IconContainer name="CSS">
      <Css size="size-9" />
    </IconContainer>
    <IconContainer name="Javascript">
      <Javascript size="size-9" />
    </IconContainer>
    <IconContainer name="Typescript">
      <Typescript size="size-9" />
    </IconContainer>
    <IconContainer name="Php">
      <Php size="size-9" />
    </IconContainer>
    <IconContainer name="C#">
      <CSharp size="size-9" />
    </IconContainer>
    <IconContainer name="Python">
      <Python size="size-9" />
    </IconContainer>
    <IconContainer name="Java">
      <Java size="size-9" />
    </IconContainer>
    <IconContainer name="Dart">
      <Dart size="size-9" />
    </IconContainer>
    <IconContainer name="Go">
      <Go size="size-9" />
    </IconContainer>
  </div>


  <h3 class="text-xl font-medium siz my-4">Tecnologias Frontend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Angular">
      <Angular size="size-9" />
    </IconContainer>
    <IconContainer name="React">
      <React size="size-9" />
    </IconContainer>
    <IconContainer name="Vue">
      <Vue size="size-9" />
    </IconContainer>
    <IconContainer name="Astro">
      <AstroIcon size="size-9" />
    </IconContainer>
    <IconContainer name="Livewire">
      <Livewire size="size-9" />
    </IconContainer>
    <IconContainer name="Jquery">
      <Jquery size="size-9" />
    </IconContainer>
    <IconContainer name="Alpine">
      <Alpine size="size-9" />
    </IconContainer>
    <IconContainer name="Bulma">
      <Bulmacss size="size-9" />
    </IconContainer>
    <IconContainer name="Bootstrap">
      <Bootstrap size="size-9" />
    </IconContainer>
    <IconContainer name="Tailwind">
      <Tailwind size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium my-6">Tecnologias Backend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Node">
      <Node size="size-9" />
    </IconContainer>
    <IconContainer name="Laravel">
      <Laravel size="size-9" />
    </IconContainer>
    <IconContainer name="Symfony">
      <Symfony size="size-9" />
    </IconContainer>
    <IconContainer name=".NET">
      <DotNetCore size="size-9" />
    </IconContainer>
    <IconContainer name="Nuxt">
      <Nuxt size="size-9" />
    </IconContainer>
    <IconContainer name="Next">
      <Next size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium my-6">Bases de datos</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="MySQL">
      <Mysql size="size-9" />
    </IconContainer>
    <IconContainer name="PostgreSQL">
      <Postgresql size="size-9" />
    </IconContainer>
    <IconContainer name="SQL Server">
      <SqlServer size="size-9"/>
    </IconContainer>
    <IconContainer name="SQLite">
      <Sqlite size="size-9"/>
    </IconContainer>
    <IconContainer name="11G/21C">
      <Oracle size="size-9"/>
    </IconContainer>
    <IconContainer name="Firebase">
      <Firebase size="size-9"/>
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium my-6">Herramientas</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Github">
      <Github size="size-9" />
    </IconContainer>
    <IconContainer name="VSCode">
      <Vscode size="size-9" />
    </IconContainer>
  </div>
</section>